@use '../src/assets/style/funcs' as *;
@use '../src/assets/style/buttons' as *;

.login-view {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: color('light');
  padding-top: rem(30);
  padding-bottom: rem(100);

  @include down(580) {
    padding-top: rem(15);
  }

  &__headings {
    text-align: center;
    margin-bottom: rem(60);

    @include down(580) {
      margin-bottom: rem(30);
    }
  }

  &__logo {
    width: 100px;
    height: auto;
  }

  &__title {
    @include down(580) {
      font-weight: 500;
      line-height: 120%;
    }
  }

  &__form {
    max-width: rem(520);
    min-width: rem(520);
    background: color('white');
    padding: rem(30);
    display: flex;
    flex-direction: column;
    gap: rem(30) 0;
    border-radius: rem(5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    @include down(580) {
      min-width: 100%;
      padding: rem(15);
    }
  }

  .login-form {
    &__field {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: rem(5) 0;
    }

    .keep {
      flex-direction: row;
      gap: 0 rem(10);
    }

    .password {
      position: relative;

      i {
        position: absolute;
        right: 0;
        height: 100%;
        top: 50%;
        transform: translateY(-50%);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        font-size: rem(16);
        background: color('light');
      }

      input {
        margin-right: rem(40);
        position: absolute;
        inset: 0;
        padding: 10px 10px;
      }
    }
  }
}
