@use "funcs" as *;
@use "variables" as *;
@use "sass:color";

%button-base {
  background: none;
  height: rem(40);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: rem(16);
  padding: rem(5) rem(10);
  color: #fff;
}

.button {
  @extend %button-base;
  padding: rem(5) rem(20);
}

// generate button classes for each color in palette

@each $name, $color in $palette {
  .button.--#{$name} {
    background: color($name);

    &:hover {
      background: darken(color($name), 10%);
    }
  }
}

.input {
  width: 100%;
  display: inline-block;
  border: 1px solid color('grey');
  background: none;
  padding: rem(5) rem(10);
  color: color('dark');
  height: rem(40);

  &:focus {
    outline: 1px solid color('primary');
    border-radius: rem(5);
  }
}

.form-field {
  display: flex;
  flex-direction: column;

  span {
    margin-bottom: rem(5);
    width: 100%;
  }
}

.custom-select {
  position: relative;
}
