@use "../../assets/style/funcs" as *;

.employees-listing-view {
  h1 {
    margin-bottom: rem(40);
  }

  &__headings {
    display: flex;
    gap: rem(30);
    margin-bottom: rem(20);
    flex-wrap: wrap;
  }

  .employee-listing-form {
    &__field {
      position: absolute;
      right: 0;
      padding: 10px 15px;
      background: color('light');
      border-radius: rem(5);
    }
  }

  .listing-table {
    width: 100%;
    border: 1px solid darken(color('light'), 5%);
    border-collapse: separate;
    border-spacing: 0;
    border-radius: rem(3) rem(3) 0 0;

    &__headers {
      background: color('light');
    }

    &__header,
    &__cell {
      height: rem(50);
      padding: rem(10) rem(20);
      min-width: max-content;
      text-align: left;
      border-bottom: 1px solid darken(color('light'), 5%);

      i {
        margin-left: rem(10);
      }
    }

    &__row:last-child {
      td {
        border: none;
      }
    }
  }

  &__content {
    position: relative;
  }
}

.table-component-form__field input,
.table-component-form__field select {
  border-radius: rem(5);
}
