@use '../src/assets/style/funcs' as *;

.add-employee-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: rem(15) rem(10);

  &__field {
    width: 100%;
    max-width: calc(50% - rem(5));
  }
}

.full-width {
  max-width: 100%;
}

.half-width {
  max-width: calc(50% - rem(5));
}

.quarter-width {
  max-width: calc(25% - rem(5));
}

.three-third-width {
  max-width: calc(75% - rem(5));
}
