@use "../../assets/style/funcs" as *;

.table-component {
  width: 100%;
  border: 1px solid darken(color('light'), 5%);
  border-collapse: separate;
  border-spacing: 0;
  border-radius: rem(3) rem(3) 0 0;

  &__headers {
    background: color('light');
  }

  &__header,
  &__cell {
    height: rem(50);
    padding: rem(10) rem(20);
    min-width: max-content;
    text-align: left;
    border-bottom: 1px solid darken(color('light'), 5%);

    i {
      margin-left: rem(10);
    }
  }

  &__row:last-child {
    td {
      border: none;
    }
  }
}
