@use "../../assets/style/funcs" as *;

.table-component {
  &__table {
    width: 100%;
    border: 1px solid darken(color('light'), 5%);
    border-collapse: separate;
    border-spacing: 0;
    border-radius: rem(3);
  }

  &__headers {
    background: color('light');
  }

  &__header,
  &__cell {
    height: rem(50);
    padding: rem(10) rem(20);
    min-width: max-content;
    text-align: left;
    border-bottom: 1px solid darken(color('light'), 5%);

    i {
      margin-left: rem(10);
    }
  }

  &__row:last-child {
    td {
      border: none;
    }
  }

  &__pagination {
    margin-top: rem(10);
  }

  .pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: rem(5);

    &__next,
    &__prev,
    &__page{
      cursor: pointer;
      width: rem(35);
      aspect-ratio: 1/1;
      border-radius: rem(3);
      background: color('light');
    }

    &__pages {
      display: flex;
      gap: rem(5);
    }

    .--active {
      background: color('primary');
      color: color('light');
    }
  }
}
